.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-table {
  overflow: auto;
  max-height: 750px;
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.first-footer-row {
  font-weight: bold;
}
.second-footer-row td {
  color: #900000;
}
