<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Bovsi Studios Timeclock app</h1>
            <p>This app will help Bovsi Studios keep track of work-things</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/account/register">Signup with
                    email</a>
                <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/account/login">Login with
                    Username</a>
            </p>
        </div>
    </div>
</main>